$color : #666666;

.modal{
    display:block !important;
    z-index: 9999999;
    position: relative;
    margin: 0 auto;
    top: 25%;
}
.overlay:target{
    visibility: visible;
    display: block;
}
.overlay{
    background-color: rgba($color, 0.4);
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    padding: 0;
    transition: opacity .5s;
}