$color: #666666;
.modal {
    display: block !important;
    z-index: 9999999;
    min-width: 200px;
    padding: 8px;
    position: relative;
    margin: 0 auto;
    top: 25%;
    .modal-dialog {
        .modal-content {
            padding: 16px;
        }
    }
}

.overlay:target {
    visibility: visible;
    display: block;
}

.overlay {
    background-color: rgba($color, 0.4);
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    transition: opacity .5s;
    z-index: 999;
}