<button class="btn btn-primary" (click)="change()" data-toggle="tooltip" data-placement="top" title="Tooltip on top"     #btn>
    Open Popover</button>
<div [@menuChanged]="state"  class="popover bs-popover-bottom bs-popover-bottom-docs app-popover" [style.left.px]="left" [style.top.px]="top"
    #popover (clickOutside)="close()">
    <div class="arrow"></div>
    <h3 class="popover-header text-center">{{ header | uppercase }}</h3>
    <div class="popover-body">
        <ng-content></ng-content>
    </div>
</div>