.app-popover {
    position: absolute;
    min-width: 20rem;
    left: 99999999999px;
    .arrow {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: translateX(50%);
    }
    .arrow::after {
        border-bottom-color : #f7f7f7;
    }
}