<h1>{{ what }}</h1>
<div class="jumbotron">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Username</th>
      </tr>
    </thead>
    <tbody>
        <div class="jumbotron">
            <h1 class="display-3">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
          </div>
    </tbody>
  </table>
</div>
<button class="btn btn-primary" (click)="showDialog()">Show confirm Dialog</button>
<button class="btn btn-danger" (click)="setProgress()">Progress </button>
<app-dropdown placeholder="Select some shit">
  <app-dropdownItem *ngFor="let item of items" [value]="item" [content]="item.text">
    {{ item.text }}
  </app-dropdownItem>
</app-dropdown>