<h1>{{ what }}</h1>
<div class="container jumbotron">

</div>
<button class="btn btn-primary" (click)="showDialog()">Show confirm Dialog</button>
<button class="btn btn-danger" (click)="setProgress()">Progress </button>
<button class="btn btn-warning" (click)="showLoading()">Loading </button>
<app-dropdown placeholder="Select some shit">
  <app-dropdownItem *ngFor="let item of items" [value]="item" [text]="item.text" [isSelected]="item.text=='Hello'">
    {{ item.text }}
  </app-dropdownItem>
</app-dropdown>
<auto-complete-input></auto-complete-input>
<a href="tel:01239291095">Call me</a>
<app-rating-bar></app-rating-bar>
<app-expansible-card>
  <app-tabbed >
    <app-tab title="Hello">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </app-tab>
    <app-tab title="Goodbye" isActivated="true">
      <div class="card-body">
        <h4 class="card-title">Card title 2</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere 2</a>
      </div>
      <div class="card-body">
        <h4 class="card-title">Card title 2</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere 2</a>
      </div>
      <div class="card-body">
        <h4 class="card-title">Card title 2</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere 2</a>
      </div>
      <div class="card-body">
        <h4 class="card-title">Card title 2</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere 2</a>
      </div>
      <div class="card-body">
        <h4 class="card-title">Card title 2</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere 2</a>
      </div>
    </app-tab>
  </app-tabbed>
</app-expansible-card>

<app-popover></app-popover>